html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
    background: #757F9A;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D7DDE8, #757F9A);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2em 1em;
    font-size: 1rem;
}

.side1,
.side2 {
    display: flex;
    align-items: center;
}

.side1 {
    gap: 0.4em;
}

.side2 {
    gap: 1em;
    font-size: 0.75rem;
    font-weight: 600;
}

.side1 .heading {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 0.85rem
}

.nav img {
    width: 2.2em;
    height: 2.2em;
}

.blog .heading:hover {
    color: lightyellow;
    text-decoration: underline;
    cursor: pointer;
}

.home:hover,
.about:hover {
    text-decoration: underline;
    cursor: pointer;
    color: orange;
}

a:visited {
    color: black;
}

.side2 a {
    text-decoration: none;
}

/* about me */

.about_main {
    margin: 0 1em;
}

.about_desc {
    margin: 3em 1em;
}

.about_main img {
    height: 11em;
    width: 11em;
    border-radius: 50%;
}

.sep {
    text-align: center;
    margin: 1em 0;
}


.section2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1em;
    margin-bottom: 2.6em;
}

.blog img {
    max-width: 100%;

    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.blog img:hover {
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
}

.blog .date {
    font-size: 14;
    font-weight: 400;
    margin-bottom: 0;
    color: #000000;
}


.blog .heading {
    margin: 9px 0;
    font-size: 24px;
    font-weight: 700;
}

.blog .desc {
    margin: 0;
    color: #505050;
}

.more {
    text-align: center;
    margin-top: 3em;
}

main {
    margin-bottom: 3em;
}

footer {
    padding: 3em;
    background-color: black;
    color: whitesmoke;
    text-align: center;
}

@media(max-width:375px) {
    .section1 {
        grid-template-rows: 0.5em 1em 5em 0.3em 4.175em;
    }
}

@media(min-width:768px) {

    .nav {
        padding: 0.5em 1.5em 0.5em 1.5em;


    }

    .nav img {
        width: 4.5em;
        height: 4.5em;
    }

    .side1 .heading {
        font-size: 1.3rem;
    }

    .side2 {
        font-size: 1.3rem;
    }

    .about_main {
        display: flex;
        gap: 2em;
        margin: 3em 5em;
    }

    .about_desc {
        margin: 2.7em 7em;
    }

    .section2 {
        grid-template-columns: repeat(3, minmax(200px, 1fr));
        margin-right: 6em;
        margin-left: 6em;
        gap: 3em;
    }
}